mixin product()

    +b('section').product
        .container
            +e.wrap
                +e('h4').title <span>Надоело</span> бегать в туалет?
                +e('p').text Частые позывы в&nbsp;туалет, резкий дискомфорт во&nbsp;время мочеиспускания, чувство незавершенности процесса... Все это может говорить о&nbsp;том, что организму нужна <span>дополнительная помощь.</span>
                +e('button').btn Узнать больше
                +e.line
                +e.image
                    img(src='/images/footer_block-1.png')