@font-face
	font-family 'Lato-Regular'
	src url('../../fonts/Lato-Regular.woff2')

@font-face
	font-family 'Lato-Medium'
	src url('../../fonts/Lato-Medium.woff2')

@font-face
	font-family 'Lato-Bold'
	src url('../../fonts/Lato-Bold.woff2')

@font-face
	font-family 'Verdana'
	src url('../../fonts/Verdana.woff2')

@font-face
	font-family 'Verdana-Bold'
	src url('../../fonts/Verdana-Bold.woff2')

@font-face
	font-family 'Bebas-Neue'
	src url('../../fonts/Bebas-Neue.woff2')