$ff-lato = 'Lato-Regular', sans-serif
$ff-lato-b = 'Lato-Bold', sans-serif
$ff-lato-m = 'Lato-Medium', sans-serif
$ff-verdana = 'Verdana', sans-serif
$ff-verdana-b = 'Verdana-Bold', sans-serif
$ff-bebasneue = 'Bebas-Neue', sans-serif

$c-black = #1D1D1B
$c-black_1 = #02001D
$c-white = #fff
$c-orange = #FF7B31
$c-red = #D72B31
$c-red_1 = #E52A18
$c-red_2 =#DF5446
$c-yellow_1 = #F1B03C
$c-yellow = #FFB00B
$c-yellow_2 = #FFF57C
$c-yellow_3 = #EBB41C
$c-yellow_4 = #FDDD8E
$c-grey = #EBEBEB
$c-bard = rgba(171, 28, 9, 0.5)