mixin result()

    +b('section').result
        +header()
        .container
            +e.woman
                img(src='/images/result-woman.png')
            +e.wrap
                +e.header
                    +e.title Ты угадала <span>4</span> из <span>5</span>
                    +e.text Поздравляем! Ты отлично ориентируешься на ресторанной карте столицы, а твоей коллекции стильных селфи можно позавидовать. Надеемся, что большое количество WC-селфи в твоём телефоне связано исключительно с любовью к дизайну и фотографии, а вовсе не с проявлениями цистита, которые заставляют нас посещать уборную чаще обычного. Помни, что даже если симптомы цистита не слишком выражены, это не повод оттягивать поход к врачу. Как и любое другое хроническое заболевание, хронический цистит лечить намного сложнее.
                    +e.reset
                        +e('p').reset-text Хотите принять участие в розыгрыше сертификата в ресторан? Попробуйте угадать все ответы
                        +e('button').btn-buy.js-reset-test Пройти еще раз
                +e.stock
                    +e.promocode Твой промокод<br>на покупку Уронекст
                    +e('input')(type='text' value='' readonly).code
                    +e('button').btn-buy купить
        +e.lottery
            +e.condition Оставь свой e-mail для участия в розыгрыше похода в ресторан!
            +e.actions 
                +e('input')(placeholder="E-mail" required type="text" pattern="/[^\x00-\x7F]+/ig").email
                +e('button').btn-send отправить
            +e('label').agree
                +e('input').checkbox(type="checkbox")
                +e('p').provision Согласен с правилами конкурса и согласен на обработку персональных данных
        +e.popup
            +e.close
            +e('p').popup-text Спасибо! Ваш email был сохранен. 