mixin header()

    +b('section').header
        .container
            +e.wrap 
                +e.logo
                    img(src='/images/logo_header.png')
                +e('a').link
                    img(src='/images/link_header.png')
