mixin footer()

    +b('section').footer
        +e.text <span>Уронекст</span> – это уникальная для российского рынка комбинация активных компонентов, отраженные в&nbsp;европейских рекомендациях дозировки, биодоступные ингредиенты и&nbsp;удобство приема в&nbsp;одном саше!
        .container
            +e.info БАД. НЕ ЯВЛЯЕТСЯ <span>ЛЕКАРСТВЕННЫМ СРЕДСТВОМ</span>